
            <div class="col-12">
              <div class="card">
                  <div class="card-header">
                    New Artist
                  </div>
                  <div class="card-body">
                    <%= render 'form', artist: @artist %>
                  </div>
              </div>
              <%= link_to "Back", artists_path%>
            </div>
