        <div class="sidebar sidebar-full">
          <div class="sidebar-nav">
            <ul class="items">
              <li class="item active">
                <div class="icon">
                  <span><i class="fas fa-home"></i></span>
                </div>
                <div class="content">
                  <%= link_to "Trang chủ" , root_path %>
                </div>
              </li>
              <li class="item">
                <div class="icon">
                  <span><i class="fas fa-heart"></i></span>
                </div>
                <div class="content">
                  <p>Yêu thích</p>
                </div>
              </li>
              <li class="item">
                <div class="icon">
                  <span><i class="fas fa-music"></i></span>
                </div>
                <div class="content">
                  <p>About</p>
                </div>
              </li>
              <li class="item">
                <div class="icon">
                  <span><i class="fas fa-phone-volume"></i></span>
                </div>
                <div class="content">
                  <p>Liên hệ</p>
                </div>
              </li>
              <li class="item">
                <div class="icon">
                  <span><i class="fas fa-key"></i></span>
                </div>
                <div class="content">
                  <p>Điều khoản sử dụng</p>
                </div>
              </li>
            </ul>
            <div class="genres">
              <div class="tags">
                <div class="tag">
                  <a href="">Nhạc trẻ</a>
                </div>
                <div class="tag">
                  <a href="">Rap</a>
                </div>
                <div class="tag">
                  <a href="">Nhạc Bolero</a>
                </div>
                <div class="tag">
                  <a href="">Nhạc Âu Mỹ</a>
                </div>
                <div class="tag">
                  <a href="">Nhạc Hàn</a>
                </div>
                <div class="tag">
                  <a href="">Nhạc Trung</a>
                </div>
                <div class="tag">
                  <a href="">Remix</a>
                </div>
                <div class="tag">
                  <a href="">Acoustic</a>
                </div>
              </div>
              <a href="" class="linkTo">All Genres</a>
            </div>
            <div class="footer">
              <p>2021 &copy; copyright</p>
            </div>
          </div>
        </div>